body {
  background-image: none;
  background-color: black;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 50px;
  }

  button {
    margin: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }
}
